.buttons {
  border: none;
  background-color: transparent;
  margin-left: .5rem;
  cursor: pointer;
}

/* .selects {
  font-size: .6rem;
  margin-left: .5rem;
} */

select {
  border-radius: 1px;
  font-size: .55rem;
  margin-left: .3rem;
  height: .9rem;
}