
.listed-story {
  border-bottom: 1px solid black;
  width: 90%;
  margin: 1rem;
  display: flex;
  cursor: pointer;
  text-decoration: none;
}

.story-text {
  margin-left: .8rem;
}

.description {
  margin-top: -.5rem;
}

.list-img {
  width: 13rem;
  height: 10rem;
  object-fit: contain;
  margin-bottom: 1rem;
}

.section {
  font-size: .7rem;
  color: rgb(84, 84, 85);
  text-decoration: none;
}

.byline {
  font-size: .7rem;
  color: rgb(84, 84, 85);
  text-decoration: none;
}

.title {
  color: black;
}

.abstract {
  color: black;
  font-family: 'Times New Roman', Times, serif;
}
