@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');

.single-story {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  
}

.img {
  width: 28rem;
  height: 18rem;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;

}
.caption {
  width: 28rem;
  height: 18rem;
  font-size: .58rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: -300px;
}

.title {
  font-family: 'Goudy Bookletter 1911', serif
}

.single-byline {
  margin-top: -10px;
  font-size: .75rem;
  color: rgb(69, 69, 69);
}

.single-abstract {
  margin-top: 0px;
}